.DS_Store
__pycache__/
*.py[cod]
*.ipynb_checkpoints
datasets/raw_datasets/
datasets/Toy_Datasets/
metrics/
multirun/
.vscode/
conf/
!conf/config.yaml
*.sbatch
*.png
test.py
iterative_tests.ipynb
!TOC_image.png
